@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 0, 0, 0;
  --background-rgb: 18, 18, 18;
  --white-rgb: 255, 255, 255;
  --accent-1-rgb: 67, 117, 251;
  --accent-2-rgb: 70, 78, 199;
}

body {
  --header-height: 100px;
  color: rgb(var(--white-rgb));
  background-color: rgb(var(--background-rgb));

  & > main {
    margin-top: var(--header-height);
  }
}

button {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    filter: brightness(80%);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  }
  &:focus-visible {
    @apply outline-1 outline-white;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
    outline: none;
    border: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
